In [279]:
import pandas as pd
import numpy as np
import ast
from itertools import islice

In [252]:
df = pd.read_csv('testing.csv')
lambd = 1/2
query = 'zealand'
df

    Unnamed: 0       Term                  Documents
0            0      Xerox            [1, {'001': 1}]
1            1    reports            [1, {'001': 1}]
2            2          a            [1, {'001': 1}]
3            3     profit            [1, {'001': 1}]
4            4        but  [2, {'001': 1, '002': 1}]
5            5    revenue  [2, {'001': 1, '002': 1}]
6            6         is            [1, {'001': 1}]
7            7       down            [1, {'001': 1}]
8            8     Lucent            [1, {'002': 1}]
9            9    narrows            [1, {'002': 1}]
10          10    quarter            [1, {'002': 1}]
11          11       loss            [1, {'002': 1}]
12          12  decreases            [1, {'002': 1}]
13          13    further            [1, {'002': 1}]

16

In [254]:
df_doc_freq = pd.read_csv('test doc frequencies.csv')
df_doc_freq.iloc[0]['Frequency']

8

In [269]:
df = pd.read_csv('Frequencies.csv')
df_doc_freq = pd.read_csv('Document Frequencies.csv')

In [270]:
print(df)

      Unnamed: 0         Term  \
0              0       +bahia
1              1            -
2              2           --
3              3         .125
4              4        .3322
5              5            0
6              6         0.01
7              7          0.2
8              8         0.22
9              9          0.3
10            10         0.33
11            11         0.39
12            12          0.4
13            13         0.40
14            14          0.5
15            15         0.53
16            16         0.59
17            17          0.6
18            18         0.68
19            19          0.7
20            20         0.73
21            21         0.75
22            22         0.77
23            23          0.8
24            24         0.80
25            25          0.9
26            26         0.99
27            27  00:06:25.87
28            28  00:37:11.96
29            29  00:55:57.87
...          ...          ...
7371        7371          yen
7372        7372   yen/dollar
7373        7373       yergin
7374        7374    yesterday
7375        7375          yet
7376        7376      yeutter
7377        7377          yfc
7378        7378        yield
7379        7379          ynk
7380        7380         york
7381        7381     yorkshir
7382        7382       yotaro
7383        7383       youcef
7384        7384        young
7385        7385       yousfi
7386        7386           yr
7387        7387       yr-ago
7388        7388            z
7389        7389         zair
7390        7390      zambian
7391        7391      zealand
7392        7392   zellerbach
7393        7393         zero
7394        7394        ziana
7395        7395      ziegler
7396        7396      zimbabw
7397        7397   zimbabwean
7398        7398          zip
7399        7399         zoet
7400        7400         zone

                                              Documents
0                                       [1, {'001': 1}]
1     [50, {'005': 2, '016': 1, '026': 2, '046': 1, ...
2     [35, {'005': 7, '019': 1, '028': 1, '043': 2, ...
3                                       [1, {'010': 1}]
4                                       [1, {'179': 1}]
5                                       [3, {'484': 3}]
6                                       [1, {'226': 1}]
7                                       [1, {'433': 1}]
8                                       [1, {'487': 1}]
9                                       [2, {'425': 2}]
10                                      [1, {'487': 1}]
11                                      [1, {'001': 1}]
12                            [2, {'305': 1, '425': 1}]
13                                      [1, {'452': 1}]
14                  [3, {'133': 1, '145': 1, '328': 1}]
15                                      [1, {'094': 1}]
16                                      [1, {'267': 1}]
17        [5, {'054': 2, '133': 1, '435': 1, '483': 1}]
18                                      [1, {'267': 1}]
19                            [2, {'054': 1, '133': 1}]
20                                      [1, {'267': 1}]
21                  [4, {'022': 2, '402': 1, '496': 1}]
22                                      [1, {'267': 1}]
23                  [3, {'133': 1, '425': 1, '483': 1}]
24                                      [1, {'452': 1}]
25                                      [1, {'054': 1}]
26                                      [1, {'005': 1}]
27                                      [1, {'376': 1}]
28                                      [1, {'377': 1}]
29                                      [1, {'378': 1}]
...                                                 ...
7371  [29, {'169': 2, '207': 3, '259': 1, '376': 4, ...
7372                          [2, {'207': 1, '448': 1}]
7373                                    [1, {'292': 1}]
7374  [20, {'058': 1, '059': 2, '080': 1, '098': 2, ...
7375  [20, {'004': 2, '016': 2, '107': 1, '133': 1, ...
7376                         [10, {'218': 8, '254': 2}]
7377                                    [1, {'289': 1}]
7378  [9, {'122': 1, '239': 1, '249': 2, '265': 1, '...
7379                                    [1, {'289': 1}]
7380  [47, {'001': 8, '026': 1, '060': 1, '072': 1, ...
7381                                    [1, {'379': 1}]
7382                                    [1, {'376': 1}]
7383                                    [1, {'493': 1}]
7384                                    [1, {'272': 1}]
7385                                    [1, {'493': 1}]
7386                [4, {'024': 1, '074': 2, '140': 1}]
7387                          [2, {'238': 1, '412': 1}]
7388                                    [1, {'401': 1}]
7389                                    [1, {'158': 1}]
7390                                    [1, {'158': 1}]
7391                [3, {'048': 1, '093': 1, '176': 1}]
7392                                    [1, {'185': 1}]
7393      [4, {'194': 1, '246': 1, '262': 1, '265': 1}]
7394                                    [1, {'288': 1}]
7395                                    [1, {'469': 1}]
7396                                    [2, {'288': 2}]
7397                                    [1, {'288': 1}]
7398                                    [1, {'265': 1}]
7399                                    [1, {'399': 1}]
7400                          [2, {'001': 1, '422': 1}]

[7401 rows x 3 columns]

In [272]:
global_freq = 0
for i in df.iterrows():
    documents = i[1][2].strip('][').replace("'", "").split(', ')
    global_freq+=int(documents[0])
print(global_freq)

50705

In [281]:
query = 'bahia cocoa review'
lambd = 1/4
limit = 50
result_dict = list()

global_freq = 0
for i in islice(df.iterrows(), limit):
    documents = i[1][2].strip('][').replace("'", "").split(', ')
    global_freq+=int(documents[0])
print(global_freq)

for i in islice(df_doc_freq.iterrows(), limit):
    local_freq = i[1]['Frequency']
    doc_number = i[1]['Document']
    doc_number = str(doc_number).zfill(3)
    result = 1
    for j in query.split():
        entries = df.loc[df['Term'] == j]['Documents'].values[0]
        entries = entries.split(', ',1)
        entries[0] = entries[0].replace("[", "")
        entries[1] = entries[1].replace(']', '')
        entries[1] = ast.literal_eval(entries[1])
        if doc_number in entries[1].keys():
            prob = (float(entries[1][doc_number])/float(local_freq)*lambd) + (float(entries[0])/float(global_freq)*(1-lambd))
        else:
            prob = (float(entries[0])/float(global_freq)*(1-lambd))
        result *= prob
    result_dict.append((doc_number, result))
result_sorted = sorted(result_dict, key=lambda x: x[1])
print(result_sorted)

149
[("'001'", 2.8567550467071894e-05), ("'002'", 2.8567550467071894e-05), ("'003'", 2.8567550467071894e-05), ("'004'", 2.8567550467071894e-05), ("'005'", 2.8567550467071894e-05), ("'006'", 2.8567550467071894e-05), ("'007'", 2.8567550467071894e-05), ("'008'", 2.8567550467071894e-05), ("'009'", 2.8567550467071894e-05), ("'010'", 2.8567550467071894e-05), ("'011'", 2.8567550467071894e-05), ("'012'", 2.8567550467071894e-05), ("'013'", 2.8567550467071894e-05), ("'014'", 2.8567550467071894e-05), ("'015'", 2.8567550467071894e-05), ("'016'", 2.8567550467071894e-05), ("'017'", 2.8567550467071894e-05), ("'018'", 2.8567550467071894e-05), ("'019'", 2.8567550467071894e-05), ("'020'", 2.8567550467071894e-05), ("'021'", 2.8567550467071894e-05), ("'022'", 2.8567550467071894e-05), ("'023'", 2.8567550467071894e-05), ("'024'", 2.8567550467071894e-05), ("'025'", 2.8567550467071894e-05), ("'026'", 2.8567550467071894e-05), ("'027'", 2.8567550467071894e-05), ("'028'", 2.8567550467071894e-05), ("'029'", 2.8567550467071894e-05), ("'030'", 2.8567550467071894e-05), ("'031'", 2.8567550467071894e-05), ("'032'", 2.8567550467071894e-05), ("'033'", 2.8567550467071894e-05), ("'034'", 2.8567550467071894e-05), ("'035'", 2.8567550467071894e-05), ("'036'", 2.8567550467071894e-05), ("'037'", 2.8567550467071894e-05), ("'038'", 2.8567550467071894e-05), ("'039'", 2.8567550467071894e-05), ("'040'", 2.8567550467071894e-05), ("'041'", 2.8567550467071894e-05), ("'042'", 2.8567550467071894e-05), ("'043'", 2.8567550467071894e-05), ("'044'", 2.8567550467071894e-05), ("'045'", 2.8567550467071894e-05), ("'046'", 2.8567550467071894e-05), ("'047'", 2.8567550467071894e-05), ("'048'", 2.8567550467071894e-05), ("'049'", 2.8567550467071894e-05), ("'050'", 2.8567550467071894e-05)]